 * {
     margin: 0;
     padding: 0;
     font-family: 'Verdana';
 }

 html {
     width: 100%;
 }
 #iconLogo{
    width: 30px;
    height: 30px;
 }

 header {
     display: flex;
     justify-content: center;
     align-items: center;
     background-color: #FFD900;
     width: 100%;
     height: 100%;


 }

 header img {
     width: 10rem;
     margin-top: 10px;
     margin-bottom: 10px;
 }

 #sec1 {
     display: grid;


 }

 #desc {
     background-color: #514988;
 }


 #titulo {



     margin-top: 10px;
     color: #FFD900;
     text-align: center;
     font-weight: 700;
     font-size: 2.3em;

     line-height: 30px;

 }

 #headerText {

     color: #FFF;
     text-align: center;
     align-items: center;
     font-weight: 700;
     font-size: 1.4em;
     margin-bottom: 35px;
     margin-top: 15px;
 }

 #conteudo {
     display: flex;
     align-items: center;
     justify-content: center;
     text-align: center;
     color: #FFF;
     font-weight: 800;
     font-size: 1em;
     line-height: 30px;
     padding: 4px;




 }

 #countdown {
     display: grid;
     grid-auto-flow: column;
     align-items: center;
     justify-content: center;





     font-weight: 700;
     font-size: 2.1rem;
     line-height: 70px;
     color: #514988;

 }

 .cd {
     margin-left: 8px;
 }

 #aviso {

     color: #e33881;
     font-weight: 700;
     font-size: 1em;
     text-align: center;
 }

 #video {
     display: flex;
     justify-content: center;
     align-items: center;

     width: 100%;
     margin-left: auto;
     margin-right: auto;

 }

 #ing1 {
     color: #FFD900;
     font-weight: 700;
     font-size: 1.3em;
     text-align: center;


 }

 #ing2 {
    margin-top: 10px;
     display: flex;
     justify-content: center;
     
   
     flex-wrap: wrap;
         
 }
 #ing2:nth-last-child(3)
 {
    margin-top: 10px;
 }
 
 .card{
    margin-bottom: 10px;
 }
 




 button {

     display: flex;
     justify-content: center;
     align-items: center;
     margin-left: auto;
     margin-right: auto;
     width: 100%;
     margin-top: 30px;
     height: 55px;
     border-radius: 10px;
     border: none;
     margin-bottom: 10px;

     font-family: 'Verdana';
     background-color: #514988;
     color: white;
     font-size: 2em;
     font-weight: 700;


 }

 button:hover {
     background-color: #FFD900;
     transform: scale(0.9);
     transition: 0.5s;
     color: #514988;

 }
 .card-highlight{
  transform: scale(1.1);
   transition: all 0.3s ;
  

 }
 .card-selected{
   border: 5px solid green;
 }
 .card-opacity{
    opacity: 0.8;
 }
 footer {
     text-align: center;
     font-size: 0.8em;
     color: #FFD900;
     background-color: #514988;
     margin-top: 40px;



 }



 



 @media screen and (min-width:800px) {

     #sec1 {
         display: grid;
         grid-auto-flow: column;
     }

     #video {
        display: flex;
        justify-content: center;
        align-items: center;
        
         width: 100%;
   
       
        
        

     }

     #desc {
         height: auto;
         width: 100%;

     }

     #conteudo {

         color: #FFF;
         font-weight: 800;
         font-size: 0.9em;
         line-height: 35px;
         margin-bottom: 50px;
     }

     #ing1 {
         display: flex;

         color: #FFD900;
         font-weight: 700;
         font-size: 1.3em;
         margin-top: 30px;
     }
  
     #corre {
         display: flex;
         color: #FFD900;
         font-weight: 700;
         font-size: 1em;
         margin-left: 5px;
             
     }

          
 button {

    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    margin-top: 30px;
    height: 55px;
    border-radius: 10px;
    border: none;
    margin-bottom: 10px;

    font-family: 'Verdana';
    background-color: #514988;
    color: white;
    font-size: 2em;
    font-weight: 700;


}

button:hover {
    background-color: #FFD900;
    transform: scale(0.9);
    transition: 0.5s;
    color: #514988;



}
 }